<div class="flex flex-col flex-auto min-w-0">
    <!-- Main -->
    <div class="flex flex-col flex-auto items-center p-6 sm:p-10">
        <div class="flex flex-col w-full max-w-4xl">
            <div class="-ml-4 sm:mt-8"></div>
            <div
                class="mt-2 text-4xl sm:text-7xl font-extrabold tracking-tight leading-tight"
            >
                Relatório técnico:
            </div>

            <!-- Form -->
            <div
                class="mt-8 sm:mt-12 p-6 pb-7 sm:p-10 sm:pb-7 shadow rounded-2xl bg-card"
            >
                <!-- Alert -->

                <fuse-alert
                    class="mb-8"
                    *ngIf="alert"
                    [type]="alert.type"
                    [showIcon]="false"
                >
                    {{ alert.message }}
                </fuse-alert>

                <form
                    class="space-y-3"
                    [formGroup]="analiseForm"
                    #analiseNgForm="ngForm"
                >

                <mat-form-field>
                    <mat-label>Protocolo</mat-label>
                    <input matInput [value]="denuncias.id" readonly />
                  </mat-form-field>


                    <!-- Status -->

                    <mat-form-field class="w-full">
                        <mat-label>Status da Denuncia</mat-label>
                        <div>
                            <mat-select [(ngModel)]="currentStatus" [formControlName]="'status'">
                                <mat-option *ngFor="let s of status" [value]="s.id">
                                    {{ s.nome }}
                                </mat-option>
                            </mat-select>
                        </div>
                    </mat-form-field>

                    <!-- Parecer técnico -->

                    <div class="flex">
                        <mat-form-field
                            class="flex-auto">
                            <mat-label>Parecer Técnico</mat-label>
                            <textarea matInput [formControlName]="'parecerTecnico'"
                            [required]="true"></textarea>
                        </mat-form-field>
                    </div>

                    <!-- Botoes -->

                    <!-- limpar -->

                    <div class="flex items-center justify-end">
                        <button
                            mat-button
                            [color]="'accent'"
                            [disabled]="
                                analiseForm.pristine || analiseForm.untouched
                            "
                            (click)="clearForm()"
                        >
                            limpar
                        </button>

                        <!-- Enviar -->

                        <button
                            class="ml-2"
                            mat-flat-button
                            [color]="'primary'"
                            [disabled]="
                                analiseForm.pristine || analiseForm.invalid
                            "
                            (click)="sendForm()"
                        >
                            Enviar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
