<!-- consulta-denuncia.component.html -->
<div *ngIf="denuncia">
    <h2>Detalhes da Denúncia</h2>
    <ul>
      <li><strong>Denunciante:</strong> {{ denuncia.denunciante }}</li>
      <li><strong>Rua:</strong> {{ denuncia.rua }}</li>
      <li><strong>Bairro:</strong> {{ denuncia.bairro }}</li>
      <li><strong>Município:</strong> {{ denuncia.municipio }}</li>
      <li><strong>CEP:</strong> {{ denuncia.cep }}</li>
      <li><strong>Ponto de Referência:</strong> {{ denuncia.pontoReferencia }}</li>
      <li><strong>Latitude:</strong> {{ denuncia.latitude }}</li>
      <li><strong>Longitude:</strong> {{ denuncia.longitude }}</li>
      <li><strong>Descrição:</strong> {{ denuncia.descricao }}</li>
      <li><strong>Categoria Pai:</strong> {{ denuncia.categoriaPai }}</li>
      <li><strong>Categoria Filha:</strong> {{ denuncia.categoriaFilha }}</li>
      <li><strong>Data:</strong> {{ denuncia.data }}</li>
      <li><strong>Provável Autor:</strong> {{ denuncia.provavelAutor }}</li>
      <!-- Adicione outros campos conforme necessário -->

    </ul>
    <!-- Adicione lógica para exibir as imagens, por exemplo: -->
    <img *ngIf="denuncia.foto1" [src]="denuncia.foto1" alt="Foto 1">
    <img *ngIf="denuncia.foto2" [src]="denuncia.foto2" alt="Foto 2">
    <img *ngIf="denuncia.foto3" [src]="denuncia.foto3" alt="Foto 3">
  </div>
